---
tags: products
layout: layouts/showcase_layout.njk
title: Sleeves -
coverImg: https://res.cloudinary.com/theneedlemaid/image/upload/a_270/v1600338635/products/showcase_red_hiwosa.jpg
coverTitle: Book Sleeves
permalink: "collections/sleeves.html"
---
<div class="page collections-page">
  <section>
    This is sleeves
  </section>
</div>
