---
tags: products
layout: layouts/showcase_layout.njk
title: Miscellaneous -
coverTitle: And then there were more
permalink: "collections/others/index.html"
---
<div class="page showcase-page">
  <h1>{{coverTitle}}</h1>
  <section class="info">
    <p>
      At The NeedleMaid, we try to honour the fabrics and mould them into shapes & ideas.
      These are but a limited set of the endless possibilities and customisations available.
    </p>
    <p>
      Our store currently features over 25 different products.
      Enquire about them or simply present us your idea to help it turn into reality.
    </p>
  </section>

  <div class="card-grid">
    {% for item in products.misc %}
      <div class="card">
        <img src="{{item.img_url}}" loading="lazy" class="card-media" alt="{{item.alt}}"/>
        <div class="card-details">
          <h3 class="card-head">{{item.name}}</h3>
          <span class="caption">{{item.caption}}</span>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
