      </div> <!-- ends content-wrap -->
    <footer class="footer">
      <span>
        Please send me a message
      </span>
      <span>
        All rights reserved
      </span>
    </footer>
  </div> <!-- ends entire-page -->
  </body>
</html>
