      </div> <!-- ends content-wrap -->
    <footer class="footer">
      <span>
        Order via <a href="https://www.instagram.com/theneedlemaid/">Instagram</a>
      </span>
      <span>
        All rights reserved
      </span>
    </footer>
  </div> <!-- ends entire-page -->
  </body>
</html>
