---

---
{% include "_head.njk" %}
  <div class="showcase">
    {# <div class="cover">
      <img class="cover-img {{custom_cover_img}}" src="{{coverImg}}"/>
      <h2 class="cover-title">
        {{coverTitle}}
      </h2>
    </div> #}
    {{ content | safe }}

  </div>
{% include "_foot.njk" %}
