---
layout: layouts/showcase_layout.njk
title: 404 Not found -
custom_cover_img: about-me
coverTitle: Not found
permalink: 404.html
---
<div class="page page-404">
  <section class="info center">
    <h3>Oh snap!</h3>
    <p>
      Looks like somewhere a thread got loose. Let us take you <a href="/">home</a>
    </p>
    <img
      src="/assets/404.jpg"
      width="640" height="435"
      class="thread-404"
      alt="black background with multiple coloured threads passing through a needle"
      loading="lazy" />
  </section>
</div>
