---
layout: layouts/prime_layout.njk
title: About -
coverImg: https://res.cloudinary.com/theneedlemaid/image/upload/v1600105036/about/about_dog_lgoalh.jpg
coverTitle: About
eleventyNavigation:
  key: About
  order: 1
---
<div class="page">
  <section class="single-section">
    <h3>Story</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Id est, ea, aspernatur ad impedit ducimus adipisci minus quod labore dolorem vel blanditiis! Officia nam pariatur sunt, aliquam quas hic quia.
    </p>
  </section>
</div>
