---
layout: layouts/prime_layout.njk
title: Collections -
coverImg: https://res.cloudinary.com/theneedlemaid/image/upload/a_270/v1600338635/products/showcase_red_hiwosa.jpg
coverTitle: Collections
eleventyNavigation:
  key: Collections
  order: 1
---
<div class="page collections-page">
  <section class="info">
    <p>
      A fabric has endless possibilities. And when there are so many fabrics, the magic just gets started.
    </p>
    <p>
      We extensively cater to demands for any fabric products.
      You can go through some of the more popular items in our store, or simply ask us to help you find something that suits your needs.
    </p>
  </section>
  <div class="list-grid">
      {% for item in collections.products %}
        <div class="list-card">
          <a href="{{item.url}}">{{item.data.coverTitle}}</a>
        </div>
      {% endfor %}
  </div>
</div>
