---
layout: layouts/showcase_layout.njk
title: Halloween -
custom_cover_img: about-me
coverTitle: Halloween Box
eleventyNavigation:
  key: Halloween
  order: 4
---
<div class="page about-page halloween-page">
  <section class="info center">
    <audio autoplay loop preload
      src="/assets/scary_night.mp3">
      Your browser does not support the native <code>audio</code> playback.
    </audio>
  </section>
  <section class="info center">
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeJcxU7c3MP9V0uQHTEd8OYD_ACX8Y61mHw20wURxRJKi-6wA/viewform?embedded=true" width="640" height="1700" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
  </section>

</div>
