---
layout: layouts/prime_layout.njk
coverImg: assets/logo.jpg
coverTitle: The NeedleMaid
custom_cover_img: full-round index-logo
eleventyNavigation:
  key: Home
  order: 0
---
<div class="page">
  <section class="single-section">
    <h3>Collections</h3>
    <div class="card-grid center">
      {% for item in homepage.collections %}
        <div class="card">
          <img src="{{item.img}}" loading="lazy" alt={{item.alt}}/>
          <span class="caption">{{item.name}}</span>
        </div>
      {% endfor %}
    </div>
    <p>
      Lorem ipsum
    </p>
  </section>
</div>
